<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923988420574-t9s432mutb3t306ic7tdn49pntvvg7uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923988420574-t9s432mutb3t306ic7tdn49pntvvg7uu</string>
	<key>API_KEY</key>
	<string>AIzaSyChid1ZYA464g0MzRE28UAqxp0at5wOSjs</string>
	<key>GCM_SENDER_ID</key>
	<string>923988420574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blankFireSetstate</string>
	<key>PROJECT_ID</key>
	<string>dokterku-3693c</string>
	<key>STORAGE_BUCKET</key>
	<string>dokterku-3693c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923988420574:ios:cac56f25e26f4936381f4f</string>
</dict>
</plist>